.htaccess
/config.php
admin/config.php

!index.html

download/
image/catalog/
image/data/
image/cache/
system/cache/
system/logs/
catalog/view/theme/epliante/image/
system/storage/

# vQmod log files
vqmod/logs/*
# vQmod cache files
vqmod/vqcache/*
vqmod/checked.cache
vqmod/mods.cache

